@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="error-content">
                    <div class="card mb-0">
                        <div class="card-body text-center">
                            <a class="w-auto pl-0" href="/Home/Index">
                                <img src="/images/_logo.png" alt="Mono">
                            </a>
                            
                            <h4 class="mt-4">Felicidades por postularte con Nosotros!<h1 class="error-text text-primary"><i class="ti-thumb-up text-success"></i></h1></h4>
                            <p>Pasa el Dispositivo <i class="ti-tablet"></i> al Reclutador para seguir con tu proceso.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>