@{
    Layout = "/Views/Shared/_layoutLogin.cshtml";

}
<div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="error-content">
                        <div class="card mb-0">
                            <div class="card-body text-center">
                                <h1 class="error-text text-primary">401</h1>
                                <h4 class="mt-4"><i class="fa fa-thumbs-down text-danger"></i> No Autorizado</h4>
                                <p>No tiene los permisos suficientes para ver esta pagina</p>
                                <form class="mt-5 mb-5">
                                    
                                    <div class="text-center mb-4 mt-4"><a href="@Url.Action("Index","Home")" class="btn btn-primary">Ir a Homepage</a>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>